---
import { ViewTransitions } from 'astro:transitions';

import { UMAMI_SRC, UMAMI_WEBSITE_ID, UMAMI_DOMAINS } from "@/constants/env";
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro";

import "@/styles/globals.css";
import "@/styles/index.css";
import { cn } from "@/styles/utils";

type Props = {
  mainClassName?: string;
}

const {mainClassName} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/calendar.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Leeboor</title>

    <script
      is:inline
      async
      src={UMAMI_SRC}
      data-website-id={UMAMI_WEBSITE_ID}
      data-domains={UMAMI_DOMAINS}></script>

      <ViewTransitions />
  </head>
  <body class="bg-red-100">
    <Header />
    <main
      class={cn("p-4 mx-auto max-w-3xl flex flex-col min-h-[75dvh] justify-center", mainClassName)}
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
